In [1]:
%pylab inline
from matplotlib import pyplot as plt
from workflow.data import *
import pandas as pd
import numpy as np
import seaborn as sns

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
plt.tight_layout

Populating the interactive namespace from numpy and matplotlib

In [3]:
# connect to SQL database

username = 'psam071'
host = 'localhost'
dbname = 'citibike'

db = create_engine('postgres://%s%s/%s' % (username,host,dbname))
con = None

con = psycopg2.connect(database = dbname, user = username, host = host)

## Querying and Selecting Data

In [34]:
# find the most active stations by bikes_out
query = """
    SELECT a.id, bikes_out, c.name, neighborhood, borough
    FROM   (SELECT id, sum(bikes_out) as bikes_out
            FROM features
            GROUP BY id) a
    JOIN neighborhoods b ON a.id = b.id
    JOIN stations c on b.id = c.id
    ORDER BY bikes_out DESC;
"""

df = pd.read_sql_query(query, con)
df.head(20)

,id,bikes_out,name,neighborhood,borough
0,519.0,269165.0,Pershing Square North,Murray Hill,Manhattan
1,435.0,193870.0,W 21 St & 6 Ave,Flatiron,Manhattan
2,497.0,192056.0,E 17 St & Broadway,Flatiron,Manhattan
3,426.0,182324.0,West St & Chambers St,Tribeca,Manhattan
4,402.0,171496.0,Broadway & E 22 St,Flatiron,Manhattan
5,285.0,163412.0,Broadway & E 14 St,Flatiron,Manhattan
6,490.0,155497.0,8 Ave & W 33 St,Midtown South,Manhattan
7,151.0,155115.0,Cleveland Pl & Spring St,Little Italy,Manhattan
8,284.0,153329.0,Greenwich Ave & 8 Ave,Chelsea,Manhattan
9,368.0,149260.0,Carmine St & 6 Ave,Greenwich Village,Manhattan
10,459.0,148007.0,W 20 St & 11 Ave,Chelsea,Manhattan
11,293.0,147174.0,Lafayette St & E 8 St,Noho,Manhattan
12,477.0,145704.0,W 41 St & 8 Ave,Clinton,Manhattan
13,444.0,140934.0,Broadway & W 24 St,Flatiron,Manhattan
14,2006.0,138242.0,Central Park S & 6 Ave,Lincoln Square,Manhattan
15,327.0,135113.0,Vesey Pl & River Terrace,Battery Park City,Manhattan
16,514.0,133683.0,12 Ave & W 40 St,Clinton,Manhattan
17,358.0,132488.0,Christopher St & Greenwich St,West Village,Manhattan
18,379.0,130692.0,W 31 St & 7 Ave,Midtown South,Manhattan
19,499.0,128372.0,Broadway & W 60 St,Lincoln Square,Manhattan

In [35]:
# find the most active stations by bikes_in
query = """
    SELECT a.id, bikes_in, c.name, neighborhood, borough
    FROM   (SELECT id, sum(bikes_in) as bikes_in
            FROM features
            GROUP BY id) a
    JOIN neighborhoods b ON a.id = b.id
    JOIN stations c ON b.id = c.id
    ORDER BY bikes_in DESC;
"""

df = pd.read_sql_query(query, con)
df.head(20)

,id,bikes_in,name,neighborhood,borough
0,519.0,256714.0,Pershing Square North,Murray Hill,Manhattan
1,497.0,199728.0,E 17 St & Broadway,Flatiron,Manhattan
2,435.0,195769.0,W 21 St & 6 Ave,Flatiron,Manhattan
3,426.0,190497.0,West St & Chambers St,Tribeca,Manhattan
4,402.0,180692.0,Broadway & E 22 St,Flatiron,Manhattan
5,285.0,165656.0,Broadway & E 14 St,Flatiron,Manhattan
6,284.0,157641.0,Greenwich Ave & 8 Ave,Chelsea,Manhattan
7,151.0,156434.0,Cleveland Pl & Spring St,Little Italy,Manhattan
8,477.0,156029.0,W 41 St & 8 Ave,Clinton,Manhattan
9,459.0,154681.0,W 20 St & 11 Ave,Chelsea,Manhattan
10,490.0,153652.0,8 Ave & W 33 St,Midtown South,Manhattan
11,368.0,151681.0,Carmine St & 6 Ave,Greenwich Village,Manhattan
12,293.0,148603.0,Lafayette St & E 8 St,Noho,Manhattan
13,514.0,142691.0,12 Ave & W 40 St,Clinton,Manhattan
14,444.0,139091.0,Broadway & W 24 St,Flatiron,Manhattan
15,358.0,134681.0,Christopher St & Greenwich St,West Village,Manhattan
16,2006.0,134368.0,Central Park S & 6 Ave,Lincoln Square,Manhattan
17,327.0,134313.0,Vesey Pl & River Terrace,Battery Park City,Manhattan
18,379.0,131765.0,W 31 St & 7 Ave,Midtown South,Manhattan
19,382.0,131418.0,University Pl & E 14 St,Flatiron,Manhattan

In [ ]:
query = """
    SELECT date, sum(bikes_in) as bikes_in, sum(bikes_out) as bikes_out FROM features
    GROUP BY date;
"""

df1 = pd.read_sql_query(query, con)
#df1.plot(kind = 'bar', stacked = True, width = 1)
df1.index = pd.to_datetime(df1.date)
df1.plot(figsize = (10,10))

In [ ]:
df1['net'] = df1.bikes_in - df1.bikes_out
df1['net'].plot()

In [ ]:
query = """
    SELECT sum(rbikes_in) as bikes_in, sum(rbikes_out) as bikes_out FROM features
    WHERE is_weekday = 'True'
    GROUP BY hour;
"""

df1 = pd.read_sql_query(query, con)
df1.plot(kind = 'bar', stacked = True, width = 1)

In [ ]:
query = """
    SELECT sum(rbikes_in) as bikes_in, sum(rbikes_out) as bikes_out FROM features
    WHERE is_weekday = 'True'
    GROUP BY hour;
"""

df1 = pd.read_sql_query(query, con)
df1.plot(kind = 'bar', stacked = True, width = 1)

In [ ]:
in_out.index = in_out.index.to_datetime()
in_out.index

In [ ]:
in_out = df.groupby(['date'])[['bikes_out', 'bikes_in']].sum()
in_out.index = in_out.index.to_datetime()
in_out2015 = in_out[in_out.index.date < datetime.date(2016,3,1)]
in_out2016 = in_out[~in_out.isin(in_out2015)]
in_out2015.head()

In [ ]:
in_out2016 = in_out2016.dropna()

In [ ]:
from pandas.core import datetools
from statsmodels.tsa.arima_model import ARIMA

In [ ]:
model = ARIMA(in_out2015, order=(5,1,0))
model_fit = model.fit(disp=0)
model_fit.summary()

In [ ]:
in_out2015.reset_index().head().set_index('index')

In [ ]:
all_2015_query = """
    SELECT * from features
    WHERE date < '2016-03-01';
"""
all_2015 = pd.read_sql_query(all_2015_query, con)
all_2015.tail()

In [ ]:
all_2015.shape

In [ ]:
grouped = all_2015.groupby(['date']).sum()[['bikes_in', 'bikes_out', 'rbikes_in', 'rbikes_out']]

In [ ]:
grouped['pct_rebal'] = 100 * grouped.rbikes_in / grouped.bikes_in

In [ ]:
grouped.pct_rebal.plot(rot = 30)

In [ ]:
query = """
    SELECT date, sum(bikes_out) as bikes_out, sum(bikes_in) as bikes_in, 
        sum(rbikes_in) as rbikes_in, sum(rbikes_out) as rbikes_out,
        avg(avail_bikes) as avail_bikes, avg(avail_docks) as avail_docks,
        max(tot_docks) as tot_docks
        from features
    -- WHERE date < '2016-03-01'
    GROUP BY date
    ORDER BY date;
"""
df = pd.read_sql_query(query, con)
df.head()

In [ ]:
df['net'] = df.bikes_in - df.bikes_out
df.index = pd.to_datetime(df.date)
df['pct_rebal'] = 100 * df.rbikes_out / df.bikes_out
df.pct_rebal.plot(figsize = (10,5))

In [ ]:
df['pct'] = 100 * df.rbikes_out / df.bikes_out
df['date'] = pd.to_datetime(df.date)

df = df.set_index('date')

In [ ]:
df1['bikes_in'].head()