In [1]:
%pylab inline
import requests, zipfile
import StringIO
import datetime
import pandas as pd
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [2]:
# find csv file for 2016-12
basepath = 'tripdata/'

year = 2016
month = 12
csvPath = '{}{:02}-citibike-tripdata.csv'.format(year, month)
df = pd.read_csv(basepath + csvPath, parse_dates = ['Start Time', 'Stop Time'])

In [3]:
#rename columns
new_cols = {'Trip Duration':'duration',
            'Start Time': 'start_time',
            'Stop Time':'stop_time', 
            'Start Station ID':'start_id',
            'Start Station Name':'start_name',
            'Start Station Latitude':'start_lat',
            'Start Station Longitude':'start_long', 
            'End Station ID':'stop_id', 
            'End Station Name':'stop_name',
            'End Station Latitude':'stop_lat', 
            'End Station Longitude':'stop_long',
            'Bike ID':'id',
            'User Type':'user_type', 
            'Birth Year':'birth_year', 
            'Gender':'gender'}

df = df.rename(columns = new_cols)

In [4]:
# find bikes by bike id
bike_ids = df.id.unique()
bike_trajectory = df[df.id == bike_ids[0]][['id', 'start_id', 'stop_id', 
                                            'start_time', 'stop_time',
                                           'start_long', 'start_lat',
                                           'stop_long', 'stop_lat']]
# find and link up bike trajectories and find rebalancing events
rebal_events = pd.DataFrame(columns = bike_trajectory.columns)
rebal_list = []

def find_rebal_events(df):
# loop over bike ids
    for bike_id in bike_ids[:10]:
        one_traj = df[df.id == bike_id][bike_trajectory.columns]
        #trajectories = pd.concat([trajectories, one_traj], ignore_index = True)

        # track rebalancing events by shifting down stop times (and locations)
        shift_cols = ['stop_id','stop_time', 'stop_long','stop_lat']
        one_traj[shift_cols] = one_traj[shift_cols].shift(1)
        
 

        # filter where start and stop station ids are unequal
        rebal = one_traj[one_traj.start_id != one_traj.stop_id]
        rebal = 
        rebal_list.append(rebal)

find_rebal_events(df)

In [7]:
rebal_list

[           id  start_id  stop_id          start_time           stop_time  \
 0       26931       499      NaN 2016-12-01 00:00:04                 NaT
 290861  26931        83    255.0 2016-12-09 06:22:46 2016-12-05 08:29:36
 735386  26931      3435    448.0 2016-12-27 19:44:09 2016-12-27 07:36:38

         start_long  start_lat  stop_long   stop_lat
 0       -73.981918  40.769155        NaN        NaN
 290861  -73.976323  40.683826 -74.016510  40.646768
 735386  -73.995960  40.718822 -73.997901  40.756604  ,
            id  start_id  stop_id          start_time           stop_time  \
 1       27122      3418      NaN 2016-12-01 00:00:28                 NaT
 398130  27122      3117   2001.0 2016-12-13 08:15:26 2016-12-11 13:14:45
 475843  27122       511    501.0 2016-12-15 08:54:36 2016-12-14 16:58:40
 587205  27122       282    324.0 2016-12-20 17:37:07 2016-12-20 07:18:28
 709656  27122       289    324.0 2016-12-26 18:20:34 2016-12-23 06:46:03
 807484  27122      3143   3224.0 2016-12-31 16:35:28 2016-12-31 12:24:53

         start_long  start_lat  stop_long   stop_lat
 1       -73.971115  40.675021        NaN        NaN
 398130  -73.958660  40.735640 -73.979927  40.699773
 475843  -73.977724  40.729387 -73.971212  40.744219
 587205  -73.968415  40.707645 -73.981013  40.689888
 709656  -73.958811  40.684568 -73.981013  40.689888
 807484  -73.963888  40.776829 -74.005139  40.739974  ,
            id  start_id  stop_id          start_time           stop_time  \
 2       19352       297      NaN 2016-12-01 00:00:39                 NaT
 263626  19352       432    433.0 2016-12-08 10:21:30 2016-12-07 21:38:37
 388479  19352       520    497.0 2016-12-12 19:50:05 2016-12-12 17:12:37

         start_long  start_lat  stop_long   stop_lat
 2       -73.986923  40.734232        NaN        NaN
 263626  -73.983799  40.726218 -73.980572  40.729554
 388479  -73.976485  40.759923 -73.990093  40.737050  ,
            id  start_id  stop_id          start_time           stop_time  \
 3       20015       405      NaN 2016-12-01 00:00:44                 NaT
 186631  20015       146    426.0 2016-12-06 08:34:39 2016-12-01 08:38:28
 608941  20015      2003    303.0 2016-12-21 13:22:59 2016-12-20 13:55:12
 623296  20015      3263    336.0 2016-12-21 20:05:58 2016-12-21 17:50:27

         start_long  start_lat  stop_long   stop_lat
 3       -74.008119  40.739323        NaN        NaN
 186631  -74.009106  40.716250 -74.013221  40.717548
 608941  -73.980544  40.733812 -73.999496  40.723627
 623296  -73.990868  40.729236 -73.999061  40.730477  ,
       id  start_id  stop_id          start_time stop_time  start_long  \
 4  23148       279      NaN 2016-12-01 00:00:54       NaT   -74.00167

    start_lat  stop_long  stop_lat
 4  40.707873        NaN       NaN  ,
            id  start_id  stop_id          start_time           stop_time  \
 5       16140       245      NaN 2016-12-01 00:01:13                 NaT
 56456   16140       399    418.0 2016-12-02 10:00:22 2016-12-01 08:22:59
 775108  16140      3317    296.0 2016-12-30 01:06:13 2016-12-23 17:10:58

         start_long  start_lat  stop_long   stop_lat
 5       -73.977039  40.693270        NaN        NaN
 56456   -73.964763  40.688515 -73.982578  40.702240
 775108  -73.987001  40.668627 -73.997047  40.714131  ,
            id  start_id  stop_id          start_time           stop_time  \
 6       19997       470      NaN 2016-12-01 00:01:37                 NaT
 144032  19997      3255    402.0 2016-12-05 07:13:28 2016-12-02 07:34:19
 190154  19997      3230   3255.0 2016-12-06 09:17:18 2016-12-05 07:14:50
 779314  19997      3310   3319.0 2016-12-30 09:47:22 2016-12-27 10:59:50

         start_long  start_lat  stop_long   stop_lat
 6       -74.000040  40.743453        NaN        NaN
 144032  -73.994685  40.750585 -73.989551  40.740343
 190154  -73.996924  40.751284 -73.994685  40.750585
 779314  -73.983968  40.663779 -73.988951  40.666287  ,
            id  start_id  stop_id          start_time           stop_time  \
 7       26105      3312      NaN 2016-12-01 00:01:50                 NaT
 77001   26105      2012    501.0 2016-12-02 18:16:24 2016-12-02 17:54:25
 236354  26105       293    445.0 2016-12-07 17:30:45 2016-12-07 12:12:11
 538474  26105      3167    520.0 2016-12-18 17:59:40 2016-12-16 10:03:22
 572901  26105       517   3255.0 2016-12-20 08:43:02 2016-12-19 17:25:27
 768944  26105       150    304.0 2016-12-29 17:13:02 2016-12-28 23:50:05

         start_long  start_lat  stop_long   stop_lat
 7       -73.945940  40.781721        NaN        NaN
 77001   -73.976806  40.739445 -73.971212  40.744219
 236354  -73.990765  40.730287 -73.981420  40.727408
 538474  -73.980930  40.779668 -73.976485  40.759923
 572901  -73.977910  40.751581 -73.994685  40.750585
 768944  -73.980858  40.720874 -74.013617  40.704633  ,
            id  start_id  stop_id          start_time           stop_time  \
 8       21348       387      NaN 2016-12-01 00:01:52                 NaT
 152485  21348       499    284.0 2016-12-05 10:52:09 2016-12-02 19:14:25
 284715  21348       531    415.0 2016-12-08 19:28:44 2016-12-07 16:54:42
 559664  21348      3160    345.0 2016-12-19 17:29:05 2016-12-16 08:50:27
 679547  21348       152   3002.0 2016-12-23 18:15:49 2016-12-23 11:02:13

         start_long  start_lat  stop_long   stop_lat
 8       -74.004607  40.712733        NaN        NaN
 152485  -73.981918  40.769155 -74.002638  40.739017
 284715  -73.992663  40.718939 -74.009260  40.704718
 559664  -73.973747  40.778968 -73.997044  40.736494
 679547  -74.009106  40.714740 -74.015756  40.711512  ,
            id  start_id  stop_id          start_time           stop_time  \
 9       22517       496      NaN 2016-12-01 00:01:54                 NaT
 539800  22517       513    490.0 2016-12-18 19:15:46 2016-12-18 11:19:36
 630451  22517      3165    479.0 2016-12-22 08:27:23 2016-12-21 19:02:02

         start_long  start_lat  stop_long   stop_lat
 9       -73.992390  40.737262        NaN        NaN
 539800  -73.988639  40.768254 -73.993934  40.751551
 630451  -73.976206  40.775794 -73.991255  40.760193  ]

In [ ]:
# track rebalancing events
shift_cols = ['stop_id','stop_time', 'stop_long','stop_lat']
bike_trajectory[shift_cols] = bike_trajectory[shift_cols].shift(1)
bike_trajectory.head()
rebal_events = bike_trajectory[bike_trajectory.start_id != bike_trajectory.stop_id]
rebal_events.shape

In [ ]:
stations = tuple(df.start_id.unique())= tuple(df.start_id)
lats = pd.Series()
longs = pd.Series()
names = pd.Series()
#for station in stations.station:

In [ ]:
len(stations)