In [1]:
%pylab inline
import requests, zipfile
import StringIO
import datetime
import pandas as pd
import numpy as np
from workflow.data import *
import pdb
import seaborn as sns
from matplotlib import pyplot

Populating the interactive namespace from numpy and matplotlib

In [8]:
# find csv file for tripdata
year = 2015
month = 3
#csvPath = '{}{:02}-citibike-tripdata.csv'.format(year, month)
#df = pd.read_csv(basepath + csvPath, parse_dates = ['Start Time', 'Stop Time'])
df = trip_data(year, month)
#df['trip_id'] = df.index.values
df.head()

,duration,start_time,stop_time,start_id,start_name,start_lat,start_long,stop_id,stop_name,stop_lat,stop_long,bike_id,user_type,birth_year,gender
0,669,2015-03-01 00:00:00,2015-03-01 00:11:00,164,E 47 St & 2 Ave,40.753231,-73.970325,477,W 41 St & 8 Ave,40.756405,-73.990026,21409,Subscriber,1987.0,1
1,750,2015-03-01 00:01:00,2015-03-01 00:14:00,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,436,Hancock St & Bedford Ave,40.682166,-73.953990,19397,Subscriber,1968.0,1
2,663,2015-03-01 00:01:00,2015-03-01 00:12:00,497,E 17 St & Broadway,40.737050,-73.990093,477,W 41 St & 8 Ave,40.756405,-73.990026,20998,Customer,NaN,0
3,480,2015-03-01 00:02:00,2015-03-01 00:10:00,470,W 20 St & 8 Ave,40.743453,-74.000040,491,E 24 St & Park Ave S,40.740964,-73.986022,21565,Subscriber,1983.0,1
4,1258,2015-03-01 00:02:00,2015-03-01 00:23:00,345,W 13 St & 6 Ave,40.736494,-73.997044,473,Rivington St & Chrystie St,40.721101,-73.991925,14693,Subscriber,1970.0,1

In [20]:
rebals = rebal_data(year,month)
rebals.head()

,duration,start_time,stop_time,start_id,start_name,start_lat,start_long,stop_id,stop_name,stop_lat,stop_long,bike_id,user_type,birth_year,gender,trip_id
0,345,2015-03-17 15:42:00,2015-03-16 22:35:00,402,Broadway & E 22 St,40.740343,-73.989551,487.0,E 20 St & FDR Drive,40.733143,-73.975739,14529,Subscriber,1979.0,1,161757
1,820,2015-03-19 21:31:00,2015-03-19 20:12:00,523,W 38 St & 8 Ave,40.754666,-73.991382,480.0,W 53 St & 10 Ave,40.766697,-73.990617,14529,Subscriber,1982.0,1,197300
2,520,2015-03-30 20:05:00,2015-03-30 18:20:00,491,E 24 St & Park Ave S,40.740964,-73.986022,229.0,Great Jones St,40.727434,-73.993790,14529,Subscriber,1957.0,1,325665
3,624,2015-03-31 07:57:00,2015-03-30 21:05:00,501,FDR Drive & E 35 St,40.744219,-73.971212,487.0,E 20 St & FDR Drive,40.733143,-73.975739,14529,Subscriber,1960.0,1,329600
4,1464,2015-03-07 18:02:00,2015-03-07 02:12:00,410,Suffolk St & Stanton St,40.720664,-73.985180,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,14530,Subscriber,1966.0,1,35360

## Interesting stats

In [ ]:
print "Total trips for {}-{:02}: {}".format(year, month, df.shape[0])

In [ ]:
sub_trips = df[df.user_type == 'Subscriber'].shape[0] / float(df.shape[0])
print "% subscribers: {:.3f}".format(100*sub_trips)

In [ ]:
male_trips = df[df.gender == 1].shape[0] / float(df.shape[0])
female_trips = df[df.gender == 2].shape[0] / float(df.shape[0])# add a column called trip_id within
print "% Male trips: {:.3f}".format(100*male_trips)
print "% Female trips: {:.3f}".format(100*female_trips)
print "% other trips: {:.3f}".format(100*(1 - male_trips - female_trips))

In [ ]:
top_starts.head()

In [ ]:
# top 10 starting locations
top_starts = df.groupby(['start_name', 'start_lat', 'start_long', 'start_id']).count().duration.sort_values(ascending = False)
top_starts = top_starts.reset_index()
top_starts['number_trips'] = top_starts.duration
top_starts

top_starts.sort_values('number_trips').tail(10).plot(kind = 'barh', 
                         x = 'start_name', y = 'number_trips',figsize=(7,7))
plt.tick_params(labelsize=18)

In [ ]:
# top 10 stopping locations
top_stops = df.groupby(['stop_name', 'stop_lat', 'stop_long', 'stop_id']).count().duration.sort_values(ascending = False)
top_stops = top_stops.reset_index()
top_stops['number_trips'] = top_stops.duration
top_stops

top_stops.sort_values('number_trips').tail(10).plot(kind = 'barh', 
                         x = 'stop_name', y = 'number_trips', figsize=(7,7))
plt.tick_params(labelsize=18)

In [ ]:
stations1[]

In [ ]:
def plot_top_stations(df, x_values, y_values):
    pl = df.plot(kind = 'scatter', x = x_values, y = y_values, 
                alpha = 0.5, figsize = (5,8))
    df.head(10).reset_index().plot(kind = 'scatter', x = x_values,
                 color = 'r', y = y_values, ax = pl)

plot_top_stations(top_starts, 'start_long', 'start_lat')
plot_top_stations(top_stops, 'stop_long', 'stop_lat')

## Rebalancing

In [ ]:
oneday = df[(df.start_time.dt.day == 1) & (df.start_time.dt.month == 3)]

In [ ]:
bike_list = df.bike_id.unique()

# collect rebal events for the first 100 bikes
df = df.sort_values(['bike_id', 'start_time'])
#cols = ['start_id','stop_id', 'start_time', 'stop_time', 'bike_id']
df1 = df[df.bike_id.isin(bike_list[:100])]

# track rebalancing events 
#(REMEMBER THAT REBAL EVENTS USE STOP_TIME AS THE STARTING TIME)

shift_cols = ['stop_id','stop_time', 'stop_long', 'stop_lat', 'stop_name']

def shift_cond(bike_df):
    bike_df[shift_cols] = bike_df[shift_cols].shift(1)
    return bike_df[bike_df.start_id != bike_df.stop_id]

In [ ]:
rebal_df.head()

In [ ]:
rebal_times = ((rebal_df.start_time - rebal_df.stop_time) / 2) + rebal_df.stop_time
rebal_spreads = (rebal_df.start_time - rebal_df.stop_time) / 2

## Calculate fluxes

In [ ]:
#oneday = df[(df.start_time.dt.day == 1) & (df.start_time.dt.month) == 1]

In [11]:
df['start_hour'] = df.start_time.dt.hour
df['stop_hour'] = df.stop_time.dt.hour
#df[['start_hour', 'stop_hour']] = df[['start_time', 'stop_time']].apply(lambda x: x.dt.hour)
df[['start_date', 'stop_date']] = df[['start_time', 'stop_time']].apply(lambda x: x.dt.floor('d'))
df.tail()

,duration,start_time,stop_time,start_id,start_name,start_lat,start_long,stop_id,stop_name,stop_lat,stop_long,bike_id,user_type,birth_year,gender,start_hour,stop_hour,start_date,stop_date
341821,536,2015-03-31 23:58:00,2015-04-01 00:07:00,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,421,Clermont Ave & Park Ave,40.695734,-73.971297,19615,Subscriber,1985.0,1,23,0,2015-03-31,2015-04-01
341822,1030,2015-03-31 23:59:00,2015-04-01 00:16:00,495,W 47 St & 10 Ave,40.762699,-73.993012,404,9 Ave & W 14 St,40.740583,-74.005509,15086,Subscriber,1978.0,1,23,0,2015-03-31,2015-04-01
341823,171,2015-03-31 23:59:00,2015-04-01 00:02:00,450,W 49 St & 8 Ave,40.762272,-73.987882,479,9 Ave & W 45 St,40.760193,-73.991255,18943,Subscriber,1986.0,1,23,0,2015-03-31,2015-04-01
341824,616,2015-03-31 23:59:00,2015-04-01 00:09:00,455,1 Ave & E 44 St,40.750020,-73.969053,477,W 41 St & 8 Ave,40.756405,-73.990026,21364,Subscriber,1970.0,1,23,0,2015-03-31,2015-04-01
341825,227,2015-03-31 23:55:00,2015-03-31 23:59:00,477,W 41 St & 8 Ave,40.756405,-73.990026,478,11 Ave & W 41 St,40.760301,-73.998842,16020,Subscriber,1998.0,1,23,23,2015-03-31,2015-03-31

In [18]:
def split_off_times(df):
    df['start_hour'] = df.start_time.dt.hour
    df['stop_hour'] = df.stop_time.dt.hour
    df[['start_date', 'stop_date']] = df[['start_time', 'stop_time']].apply(lambda x: x.dt.floor('d'))
    return df

def create_fluxes(df, id_key, date_key, hour_key, fl_key):
    # id_key and hour_key are start_id/stop_id and start_date/end_date
    # start is associated with an fl_key = 'flux_out',
    # and stop is associated with fl_key = 'flux_in'
    use_cols = [id_key, date_key, hour_key, 'duration']

    flux = df.groupby([id_key, date_key, hour_key]).count()
    flux = flux.reset_index()[use_cols]
    col_dict = {'duration': fl_key,
                date_key: 'date', hour_key: 'hour',
                id_key: 'id'}
    return flux.rename(columns = col_dict)

def transform_times(df):
    # calculate approximate pickup and drop-off times for rebalancing trips
    t_start = df.start_time
    t_end = df.stop_time
    time_diff = t_start - t_end

    r_start = t_end + time_diff/3.
    r_end = t_end + time_diff*(2/3.)

    df['start_time'] = r_start
    df['stop_time'] = r_end
    return df.rename(columns = {'start_id':'stop_id', 'stop_id':'start_id'})


def merge_fluxes(df1, df2):
    # concatenate fluxes or any other dataset with the keys
    # 'id' 'date' and 'hour
    return pd.merge(df1, df2, how='outer',
                              on = ['id', 'date', 'hour']).fillna(0)

In [48]:
# create fluxes from normal trips and merge
bikes_out = create_fluxes(df, 'start_id', 'start_date','start_hour', 'bikes_out')
bikes_in = create_fluxes(df, 'stop_id', 'stop_date','stop_hour', 'bikes_in')

merged = merge_fluxes(bikes_out, bikes_in)

In [50]:
import holidays
us_holidays = holidays.UnitedStates()

merged['dayofweek'] = merged.date.dt.weekday
merged['month'] = merged.date.dt.month
merged['year'] = merged.date.dt.year
merged['is_weekday'] = merged.dayofweek.isin(range(5))
merged['is_holiday'] = merged.date.isin(holidays.UnitedStates())

In [51]:
merged.head()

,id,date,hour,bikes_out,bikes_in,dayofweek,month,year,is_weekday,is_holiday
0,72,2015-03-01,9,1.0,0.0,6,3,2015,False,False
1,72,2015-03-01,10,1.0,0.0,6,3,2015,False,False
2,72,2015-03-01,11,1.0,0.0,6,3,2015,False,False
3,72,2015-03-02,6,1.0,0.0,0,3,2015,True,False
4,72,2015-03-02,8,1.0,2.0,0,3,2015,True,False

In [30]:
# merge rebal fluxes
rebals = transform_times(rebals)
rebals = split_off_times(rebals)
#create fluxes from rebalanced trips
rflux_out = create_fluxes(rebals, 'start_id', 'start_date', 'start_hour', 'rbikes_out')
rflux_in = create_fluxes(rebals, 'stop_id', 'stop_date', 'stop_hour', 'rbikes_in')

rmerged = merge_fluxes(rflux_out, rflux_in)
rmerged['rebal_net_flux'] = rmerged.rbikes_in - rmerged.rbikes_out
rmerged = rmerged.drop(['rbikes_in', 'rbikes_out'], axis=1)

In [31]:
rmerged.head()

     id       date  hour  rebal_net_flux
0  72.0 2015-03-02    10            -1.0
1  72.0 2015-03-04     4            -1.0
2  72.0 2015-03-04    18            -1.0
3  72.0 2015-03-05    20            -1.0
4  72.0 2015-03-06     5            -1.0

In [23]:
merged.head()

   id       date  hour  bikes_out  bikes_in  is_holiday  is_weekday
0  72 2015-03-01     9        1.0       0.0       False       False
1  72 2015-03-01    10        1.0       0.0       False       False
2  72 2015-03-01    11        1.0       0.0       False       False
3  72 2015-03-02     6        1.0       0.0       False        True
4  72 2015-03-02     8        1.0       2.0       False        True

In [35]:
feat = merge_fluxes(merged, rmerged)
feat.head()

,id,date,hour,bikes_out,bikes_in,is_holiday,is_weekday,dayofweek,month,year,rebal_net_flux
0,72.0,2015-03-01,0,1.0,0.0,False,False,6.0,3.0,2015.0,0.0
1,72.0,2015-03-01,0,1.0,0.0,False,False,6.0,3.0,2015.0,0.0
2,72.0,2015-03-01,0,1.0,0.0,False,False,6.0,3.0,2015.0,0.0
3,72.0,2015-03-01,0,0.0,2.0,False,False,6.0,3.0,2015.0,0.0
4,72.0,2015-03-01,0,0.0,1.0,False,False,6.0,3.0,2015.0,0.0

In [25]:
avail_db = station_data(year,month)

In [36]:
avail_db.head()

   id       date  hour  tot_docks  avail_bikes  avail_docks
0  72 2015-03-01     0       39.0          8.0         31.0
1  72 2015-03-01     1       39.0          8.0         31.0
2  72 2015-03-01     2       39.0          8.0         30.0
3  72 2015-03-01     3       39.0          8.0         31.0
4  72 2015-03-01     4       39.0          8.0         31.0

In [34]:
feat.head()

,id,date,hour,bikes_out,bikes_in,is_holiday,is_weekday,dayofweek,month,year,rebal_net_flux
0,72.0,2015-03-01,0,1.0,0.0,False,False,6.0,3.0,2015.0,0.0
1,72.0,2015-03-01,0,1.0,0.0,False,False,6.0,3.0,2015.0,0.0
2,72.0,2015-03-01,0,1.0,0.0,False,False,6.0,3.0,2015.0,0.0
3,72.0,2015-03-01,0,0.0,2.0,False,False,6.0,3.0,2015.0,0.0
4,72.0,2015-03-01,0,0.0,1.0,False,False,6.0,3.0,2015.0,0.0

In [ ]:
'''
def create_fluxes(df, id_key, time_key, fl_key):
    # id_key and time_key are start_id/stop_id and start_time/end_time
    # for normal trips, start is associated with an fl_key = 'flux_out',
    # and stop is associated with fl_key = 'flux_in'

    flux = df[[id_key, time_key]].groupby([df[time_key].dt.to_period('H'), id_key]).count()
    flux = flux[time_key].fillna(0).unstack(level=0).stack()
    flux = flux.reset_index().set_index(time_key)
    flux.index.name = 'date'
    return flux.rename(columns = {0:fl_key, id_key:'id'}).reset_index()

def merge_fluxes(flux_out, flux_in):
    return pd.merge(flux_out, flux_in, how='outer',
                    on = ['date', 'id']).fillna(0)
'''

In [ ]:
'''
# create fluxes from normal trips
flux_out = create_fluxes(trips, 'start_id', 'start_time', 'flux_out')
flux_in = create_fluxes(trips, 'stop_id', 'stop_time', 'flux_in')

merged = merge_fluxes(flux_out, flux_in)

# create weekday column with values 1 if weekday and 0 if weekend
wkd_cond = lambda x: 1 if True else 0
merged['weekday'] = merged.date.dt.weekday.isin(range(5)).apply(wkd_cond)
merged['hour'] = merged.date.dt.hour
'''

In [ ]:
ages = year - trips.birth_year 
trips['ages'] = ages
trips.groupby([trips.start_time.dt.to_period('H'), ages]).mean()

In [ ]:
rebal_df = rebal_data(year,month)
rebal_df = rebal_df[['start_time', 'stop_time', 'start_id', 'stop_id', 'duration']]

In [ ]:
def transform_times(df):
    # calculate approximate pickup and drop-off times for rebalancing trips
    t_start = df.start_time
    t_end = df.stop_time
    time_diff = t_start - t_end

    r_start = t_end + time_diff/3.
    r_end = t_end + time_diff*(2/3.)
    
    df['start_time'] = r_start
    df['stop_time'] = r_end
    return df.rename(columns = {'start_id':'stop_id', 'stop_id':'start_id'})

def split_off_times(df):
    df['start_hour'] = df.start_time.dt.hour
    df['stop_hour'] = df.stop_time.dt.hour
    df[['start_date', 'stop_date']] = df[['start_time', 'stop_time']].apply(lambda x: x.dt.floor('d'))
    return df

rebal_df = transform_times(rebal_df)
rebal_df = split_off_times(rebal_df)

In [ ]:
rflux_out = create_fluxes(rebal_df, 'start_id', 'start_date', 'start_hour', 'rbikes_out')
rflux_in = create_fluxes(rebal_df, 'stop_id', 'stop_date', 'stop_hour', 'rbikes_in')

In [ ]:
rflux_out

In [ ]:
rmerged = merge_fluxes(rflux_out, rflux_in)
rmerged = rmerged.drop(['rbikes_in', 'rbikes_out'], axis=1)

In [ ]:
merged

In [ ]:
rmerged['net_flux'] = rmerged.rflux_in - rmerged.rflux_out
rmerged

In [ ]:
rmerged.sort_values('net_flux', ascending = False).head(50)

In [ ]:
a = pd.merge(merged, rmerged, how = 'outer', on=['date','id']).fillna(0)

In [ ]:
stations.head()

In [ ]:
a.head(20)

In [ ]:
a.drop(['rflux_out', 'rflux_in'], axis=1)

In [ ]:
a.head()

In [ ]:
stations = pd.read_csv('stations.csv')
stations.head()

aa = pd.merge(a, stations[['id', 'docks']], on = 'id')

In [ ]:
rflux_out = rebal_df[['stop_id', 'stop_time']].groupby([rebal_df.stop_time.dt.to_period('H'),'stop_id']).count()
rflux_in = rebal_df[['start_id', 'start_time']].groupby([rebal_df.start_time.dt.to_period('H'),'start_id']).count()

In [ ]:
rflux_out.head()

In [ ]:
t = rflux_out.fillna(0).stop_time.unstack(level=0).stack()
t = t.reset_index().set_index('stop_time')
t.rename(columns = {0:'rflux_out'}, inplace = True)
t.head()

In [ ]:
sample = flux_out.start_time.head(25).unstack(level=0).stack()
new_sample = sample.reset_index().set_index('start_time')
new_sample.columns

In [ ]:
# flux out is FROM start stations
flux_out = oneday.groupby('start_id').count().duration
flux_out.head(10)

In [ ]:
#flux in is TO stop stations
flux_in = oneday.groupby('stop_id').count().duration
flux_in.head(10)

In [ ]:
net_flux = flux_in - flux_out
net_flux.head()

In [ ]:
flux_out = df[['start_id', 'start_time']].groupby([df.start_time.dt.to_period('H'),'start_id']).count()
flux_in = df[['stop_id', 'stop_time']].groupby([df.stop_time.dt.to_period('H'),'stop_id']).count()

In [ ]:
flux_out.head()

In [ ]:
flux_out.unstack().fillna(0).start_time

In [ ]:
net_flux = flux_in.unstack().stop_time.fillna(0) - flux_out.unstack().start_time.fillna(0)

net_flux.shape

In [ ]:
from concat_data import create_fluxes

In [ ]:
rebal_df[['start_id', 'start_time']].groupby([rebal_df.start_time.dt.to_period('2H'),'start_id']).count().unstack()

In [ ]:
rebal_df.start_id.astype(int).unique().shape

In [ ]:
rebal_df.stop_id.astype(int).unique().shape

In [ ]:
"""
#visualize rebalancing (with Bokeh)
import bokeh.plotting as bkp
import bokeh.models as bkm
import bokeh.charts as bkc
from bokeh.layouts import gridplot

N = 20  # number of top choices
station_lists = [0, 0]
station_lists[0] = xfers_in.groupby('start_id').apply(
                        lambda x: x.trip_id.count()).sort_values(ascending = False)[:N]
station_lists[1] = xfers_out.groupby('stop_id').apply(
                        lambda x: x.trip_id.count()).sort_values(ascending = False)[:N]

# output to notebook
bkp.output_notebook()

ps = [0, 0]  # initilized the list
source = [0, 0]  # initilized the list
colors = ['navy', 'red']  # ['In', 'Out']
labels = ['Out - In','In - Out']

for i, item in enumerate(['Transferred IN', 'Transferred OUT']):
    source[i] = bkp.ColumnDataSource(
    data = dict(station = list(map(str, station_lists[i].index)),
                count = station_lists[i].values,
                name = [stations.loc[x, 'name'] for x in station_lists[i].index],
                diff = [(-1)**(i+1)*station_count.loc[str(x), 'diff'] for x in station_lists[i].index]))
                        
    ps[i] = bkp.figure(plot_height = 300, plot_width = 350, toolbar_location = 'above',
                 tools = 'pan,box_zoom,reset,resize,save', 
                 x_range = list(map(str, station_lists[i].index)),
                 x_axis_label='Station id', y_axis_label = 'Counts', title = item)
    show = ps[i].vbar('station', top = 'count', width = 0.8, alpha = 0.5, line_alpha = 0.0,
               source = source[i], color = colors[i])
    ps[i].vbar('station', top = 'diff', width = 0.8, alpha = 1, line_alpha = 0.0,
               source = source[i], color = 'black')
    ps[i].xaxis.major_label_orientation = np.pi/4
    hover = bkm.HoverTool(tooltips=[('Station','@name'), 
                                    (item, '@count'),
                                    (labels[i],'@diff')], renderers=[show] )
    ps[i].add_tools(hover)
grid = gridplot([ps])

bkp.output_file('most_xferred_stations_'+str(year)+'.html')
bkp.show(grid) 
bkp.save(grid)
"""

In [ ]:
"""# find bikes by bike id
bike_ids = df.id.unique()
bike_trajectory = df[df.id == bike_ids[0]][['id', 'start_id', 'stop_id', 
                                            'start_time', 'stop_time',
                                           'start_long', 'start_lat',
                                           'stop_long', 'stop_lat']]

# find and link up bike trajectories to find rebalancing events
rebal_events = pd.DataFrame(columns = bike_trajectory.columns)
rebal_list = []

def find_rebal_events(traj, pre_or_post = 'pre'):
# find rebalancing events
    mask = (df.start_id.values[1:] != df.stop_id.values[:-1])
    if pre_or_post == 'pre':
        mask = np.hstack((False, mask))
    elif pre_or_post == 'post':
        masp = np.hstack((mask, False))

'''
    for bike_id in bike_ids[:10]:
        one_traj = df[df.id == bike_id][bike_trajectory.columns]
        #trajectories = pd.concat([trajectories, one_traj], ignore_index = True)

        # track rebalancing events by shifting down stop times (and locations)
        shift_cols = ['stop_id','stop_time', 'stop_long','stop_lat']
        one_traj[shift_cols] = one_traj[shift_cols].shift(1)
        
 

        # filter where start and stop station ids are unequal
        rebal = one_traj[one_traj.start_id != one_traj.stop_id]
        rebal = 
        rebal_list.append(rebal)
'''

find_rebal_events(df)
"""