In [3]:
%pylab inline
import requests, zipfile
import StringIO
import datetime
import pandas as pd
import numpy as np
from workflow.data import *
import pdb

Populating the interactive namespace from numpy and matplotlib

In [4]:
# find csv file for tripdata
year = 2015
month = 1
#csvPath = '{}{:02}-citibike-tripdata.csv'.format(year, month)
#df = pd.read_csv(basepath + csvPath, parse_dates = ['Start Time', 'Stop Time'])
trips = trip_data(year, month)
#df['trip_id'] = df.index.values

In [5]:
rebal_df = rebal_data(year,month)

In [6]:
#load stations.csv or create a stations df from tripdata
stations = pd.read_csv('stations.csv')
    
stations.head()

    id  docks        lat       long                           name
0   72     39  40.767272 -73.993929               W 52 St & 11 Ave
1   79     33  40.719116 -74.006667       Franklin St & W Broadway
2   82     27  40.711174 -74.000165         St James Pl & Pearl St
3   83     62  40.683826 -73.976323  Atlantic Ave & Fort Greene Pl
4  116     39  40.741776 -74.001497                W 17 St & 8 Ave

In [8]:
trips.head()

,duration,start_time,stop_time,start_id,start_name,start_lat,start_long,stop_id,stop_name,stop_lat,stop_long,bike_id,user_type,birth_year,gender
0,1346,2015-01-01 00:01:00,2015-01-01 00:24:00,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,2015-01-01 00:02:00,2015-01-01 00:08:00,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,2015-01-01 00:04:00,2015-01-01 00:10:00,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,2015-01-01 00:04:00,2015-01-01 00:07:00,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,2015-01-01 00:05:00,2015-01-01 00:21:00,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

In [ ]:
df.start_time = pd.to_datetime(df.start_time)

In [ ]:
df.start_time[0]

## Interesting stats

In [ ]:
print "Total trips for {}-{:02}: {}".format(year, month, df.shape[0])

In [ ]:
sub_trips = df[df.user_type == 'Subscriber'].shape[0] / float(df.shape[0])
print "% subscribers: {:.3f}".format(100*sub_trips)

In [ ]:
male_trips = df[df.gender == 1].shape[0] / float(df.shape[0])
female_trips = df[df.gender == 2].shape[0] / float(df.shape[0])# add a column called trip_id within
print "% Male trips: {:.3f}".format(100*male_trips)
print "% Female trips: {:.3f}".format(100*female_trips)
print "% other trips: {:.3f}".format(100*(1 - male_trips - female_trips))

In [ ]:
# top 10 starting locations
top_starts = df.groupby(['start_name', 'start_lat', 'start_long']).count().duration.sort_values(ascending = False)
top_starts = top_starts.reset_index()
top_starts.head()

In [ ]:
# top 10 stopping locations
top_stops = df.groupby(['stop_name', 'stop_lat', 'stop_long']).count().duration.sort_values(ascending = False)
top_stops = top_stops.reset_index()
top_stops.head()

In [ ]:
def plot_top_stations(df, x_values, y_values):
    pl = df.plot(kind = 'scatter', x = x_values, y = y_values, 
                alpha = 0.3, figsize = (5,8))
    df.head(10).reset_index().plot(kind = 'scatter', x = x_values,
                 color = 'r', y = y_values, ax = pl)

plot_top_stations(top_starts, 'start_long', 'start_lat')
plot_top_stations(top_stops, 'stop_long', 'stop_lat')

## Rebalancing

In [ ]:
oneday = df[(df.start_time.dt.day == 1) & (df.start_time.dt.month == 3)]

In [ ]:
bike_list = df.bike_id.unique()

# collect rebal events for the first 100 bikes
df = df.sort_values(['bike_id', 'start_time'])
#cols = ['start_id','stop_id', 'start_time', 'stop_time', 'bike_id']
df1 = df[df.bike_id.isin(bike_list[:100])]

# track rebalancing events 
#(REMEMBER THAT REBAL EVENTS USE STOP_TIME AS THE STARTING TIME)

shift_cols = ['stop_id','stop_time', 'stop_long', 'stop_lat', 'stop_name']

def shift_cond(bike_df):
    bike_df[shift_cols] = bike_df[shift_cols].shift(1)
    return bike_df[bike_df.start_id != bike_df.stop_id]

rebal_df = oneday.groupby('bike_id').apply(shift_cond).dropna()
rebal_df.index = rebal_df.index.droplevel('bike_id')
rebal_df

In [6]:
rebal_df.head()

,duration,start_time,stop_time,start_id,start_name,start_lat,start_long,stop_id,stop_name,stop_lat,stop_long,bike_id,user_type,birth_year,gender,trip_id
0,1112,2015-01-02 06:37:00,2015-01-01 13:24:00,496,E 16 St & 5 Ave,40.737262,-73.992390,515.0,W 43 St & 10 Ave,40.760094,-73.994618,14529,Subscriber,1964.0,2,5715
1,925,2015-01-05 18:15:00,2015-01-05 02:30:00,456,E 53 St & Madison Ave,40.759711,-73.974023,173.0,Broadway & W 49 St,40.760647,-73.984427,14529,Subscriber,1962.0,1,40268
2,697,2015-01-07 06:53:00,2015-01-06 17:47:00,379,W 31 St & 7 Ave,40.749156,-73.991600,529.0,W 42 St & 8 Ave,40.757570,-73.990985,14529,Subscriber,1953.0,1,52693
3,349,2015-01-08 10:54:00,2015-01-07 07:05:00,468,Broadway & W 55 St,40.765265,-73.981923,497.0,E 17 St & Broadway,40.737050,-73.990093,14529,Subscriber,1979.0,1,64762
4,454,2015-01-12 06:55:00,2015-01-09 16:56:00,465,Broadway & W 41 St,40.755136,-73.986580,477.0,W 41 St & 8 Ave,40.756405,-73.990026,14529,Subscriber,1964.0,1,92747

In [ ]:
rebal_times = ((rebal_df.start_time - rebal_df.stop_time) / 2) + rebal_df.stop_time
rebal_spreads = (rebal_df.start_time - rebal_df.stop_time) / 2

In [ ]:
rebal_df.shape

## Calculate fluxes

In [ ]:
# select out top stations

In [4]:
#oneday = df[(df.start_time.dt.day == 1) & (df.start_time.dt.month) == 1]

In [7]:
def create_fluxes(df, id_key, time_key, fl_key):
    # id_key and time_key are start_id/stop_id and start_time/end_time
    # for normal trips, start is associated with an fl_key = 'flux_out',
    # and stop is associated with fl_key = 'flux_in'

    flux = df[[id_key, time_key]].groupby([df[time_key].dt.to_period('H'), id_key]).count()
    flux = flux[time_key].fillna(0).unstack(level=0).stack()
    flux = flux.reset_index().set_index(time_key)
    flux.index.name = 'date'
    return flux.rename(columns = {0:fl_key, id_key:'id'}).reset_index()

def merge_fluxes(flux_out, flux_in):
    return pd.merge(flux_out, flux_in, how='outer',
                    on = ['date', 'id']).fillna(0)

In [11]:
# create fluxes from normal trips
flux_out = create_fluxes(trips, 'start_id', 'start_time', 'flux_out')
flux_in = create_fluxes(trips, 'stop_id', 'stop_time', 'flux_in')

merged = merge_fluxes(flux_out, flux_in)

# create weekday column with values 1 if weekday and 0 if weekend
wkd_cond = lambda x: 1 if True else 0
merged['weekday'] = merged.date.dt.weekday.isin(range(5)).apply(wkd_cond)
merged['hour'] = merged.date.dt.hour

In [12]:
ages = year - trips.birth_year 
trips['ages'] = ages
trips.groupby([trips.start_time.dt.to_period('H'), ages]).mean()

                                duration    start_id  start_lat  start_long  \
start_time       birth_year
2015-01-01 00:00 19.0        1511.500000  367.000000  40.749167  -73.984615
                 22.0         232.000000  293.000000  40.730287  -73.990765
                 24.0         711.000000  305.000000  40.755255  -73.983097
                 25.0         482.000000  148.000000  40.718562  -73.994982
                 26.0         806.857143  393.428571  40.740412  -73.992036
                 27.0         613.833333  345.666667  40.717893  -73.980247
                 28.0         640.000000  294.000000  40.746037  -73.974315
                 29.0         725.750000  383.875000  40.744946  -73.987384
                 30.0        1039.833333  455.166667  40.741310  -73.995124
                 31.0         267.000000  268.000000  40.719105  -73.999733
                 32.0         781.000000  397.500000  40.742419  -73.990348
                 33.0         283.500000  328.000000  40.703888  -73.979796
                 34.0         443.000000  333.000000  40.716432  -73.972708
                 35.0         578.750000  364.500000  40.734318  -73.983371
                 36.0         425.571429  316.857143  40.724141  -73.992284
                 38.0        1197.500000  417.000000  40.726174  -73.997852
                 39.0         457.666667  277.333333  40.738896  -73.993839
                 41.0         297.500000  429.500000  40.735675  -73.994086
                 42.0        1111.000000  512.000000  40.750073  -73.998393
                 43.0         394.666667  444.333333  40.742705  -73.992775
                 44.0        1033.250000  827.500000  40.742458  -73.988601
                 45.0         240.000000  268.500000  40.732003  -73.998571
                 46.0         524.333333  458.666667  40.739018  -73.986983
                 47.0         283.500000  849.500000  40.725836  -73.998308
                 48.0         391.000000  359.000000  40.755103  -73.974987
                 49.0         232.000000  449.000000  40.764618  -73.987895
                 50.0         594.000000  323.000000  40.745372  -73.995086
                 51.0         948.000000  329.250000  40.730406  -73.988000
                 52.0         363.000000  434.000000  40.743174  -74.003664
                 53.0         307.000000  474.000000  40.745168  -73.986831
...                                  ...         ...        ...         ...
2015-01-31 23:00 31.0         745.250000  377.500000  40.735810  -73.985497
                 32.0         316.600000  446.400000  40.734608  -73.981457
                 33.0         652.333333  361.666667  40.720047  -73.999555
                 34.0         567.333333  271.666667  40.732197  -73.990638
                 35.0         769.666667  421.000000  40.728334  -73.990130
                 36.0         490.250000  300.250000  40.720239  -73.988611
                 37.0         808.000000  441.500000  40.745240  -73.998384
                 38.0         425.000000  352.000000  40.735176  -73.984796
                 39.0        1210.000000  382.500000  40.750259  -73.993581
                 41.0         760.250000  487.750000  40.744659  -73.986435
                 42.0        1448.000000  341.666667  40.721435  -73.989400
                 43.0         319.000000  453.000000  40.744751  -73.999154
                 44.0         484.000000  369.000000  40.739734  -73.993222
                 45.0         722.666667  337.333333  40.738438  -73.995797
                 46.0         748.500000  356.000000  40.727836  -74.005239
                 47.0         337.666667  484.333333  40.750601  -73.992295
                 48.0         238.000000  395.000000  40.734075  -73.979928
                 49.0        1244.500000  405.500000  40.755326  -73.979798
                 50.0         266.500000  175.500000  40.732459  -74.001459
                 51.0         728.333333  313.333333  40.736728  -73.992510
                 52.0         601.000000  348.500000  40.730232  -74.000020
                 54.0         423.000000  504.000000  40.744087  -73.995508
                 55.0         283.000000  510.000000  40.760660  -73.980420
                 56.0         681.000000  319.500000  40.747306  -73.978999
                 57.0         582.500000  473.500000  40.749929  -73.995033
                 58.0         725.000000  435.000000  40.741740  -73.994156
                 59.0         169.000000  161.000000  40.729170  -73.998102
                 60.0         835.000000  475.500000  40.739593  -73.983623
                 63.0         474.000000  439.000000  40.726281  -73.989780
                 65.0         492.000000  496.000000  40.737262  -73.992390

                                 stop_id   stop_lat  stop_long       bike_id  \
start_time       birth_year
2015-01-01 00:00 19.0         316.000000  40.748363 -73.986163  18090.500000
                 22.0         252.000000  40.732264 -73.998522  19506.000000
                 24.0         331.000000  40.747317 -73.985554  16764.000000
                 25.0         334.500000  40.728986 -73.983856  18007.500000
                 26.0         609.714286  40.736710 -73.992100  17096.714286
                 27.0         410.166667  40.717156 -73.974946  17093.000000
                 28.0         489.333333  40.740528 -73.985590  16049.000000
                 29.0         331.375000  40.742233 -73.985199  18311.625000
                 30.0         697.000000  40.750442 -73.985345  16696.000000
                 31.0         473.000000  40.721101 -73.991925  17088.000000
                 32.0        1223.000000  40.741310 -73.990235  18910.000000
                 33.0         278.000000  40.704408 -73.988282  20781.500000
                 34.0         414.666667  40.708087 -73.975894  18582.333333
                 35.0         378.750000  40.725367 -73.991516  17122.750000
                 36.0         360.571429  40.721962 -73.990710  18018.857143
                 38.0         411.500000  40.711910 -73.988622  20875.500000
                 39.0         443.666667  40.735672 -73.997341  19503.666667
                 41.0         431.500000  40.740964 -73.997799  19755.500000
                 42.0         285.000000  40.734546 -73.990741  20084.000000
                 43.0         411.000000  40.738409 -73.994818  16960.000000
                 44.0         476.000000  40.750383 -73.992091  19216.500000
                 45.0         453.000000  40.727399 -73.993427  19345.500000
                 46.0         404.000000  40.726506 -73.991235  17573.500000
                 47.0         877.000000  40.727275 -73.999967  17620.166667
                 48.0         305.000000  40.760958 -73.967245  16882.000000
                 49.0         495.000000  40.762699 -73.993012  18082.000000
                 50.0         509.000000  40.745497 -74.001971  17297.000000
                 51.0         397.500000  40.728147 -73.992818  16903.500000
                 52.0         482.000000  40.739355 -73.999318  16085.000000
                 53.0         476.000000  40.743943 -73.979661  18834.000000
...                                  ...        ...        ...           ...
2015-01-31 23:00 31.0         850.750000  40.729562 -73.990671  18207.500000
                 32.0         436.600000  40.735334 -73.977720  17602.400000
                 33.0         454.000000  40.711557 -73.996841  16258.000000
                 34.0         478.000000  40.733689 -73.988663  16763.333333
                 35.0         301.666667  40.734213 -73.981781  17830.000000
                 36.0         409.250000  40.720362 -73.980387  19169.250000
                 37.0         474.000000  40.766887 -73.984907  19354.500000
                 38.0         449.250000  40.732870 -73.983925  18039.750000
                 39.0         475.500000  40.740971 -73.975275  18759.000000
                 41.0         436.750000  40.735057 -73.978675  18168.250000
                 42.0         857.000000  40.719263 -73.993863  17513.333333
                 43.0         346.000000  40.736529 -74.006180  15926.000000
                 44.0         370.250000  40.736861 -73.978508  16277.000000
                 45.0         432.666667  40.739931 -73.986037  19151.000000
                 46.0         339.500000  40.724684 -73.998659  17412.000000
                 47.0         438.666667  40.749788 -73.993909  18941.666667
                 48.0         230.000000  40.733169 -73.985766  17376.000000
                 49.0         336.500000  40.731802 -73.990533  18391.000000
                 50.0         386.500000  40.734854 -74.005134  18100.000000
                 51.0         433.666667  40.739997 -73.983987  19704.666667
                 52.0         411.500000  40.728588 -73.987804  17200.000000
                 54.0         450.500000  40.736916 -73.985311  17766.500000
                 55.0         450.000000  40.762272 -73.987882  21024.000000
                 56.0         508.000000  40.747343 -73.988912  18595.000000
                 57.0         506.500000  40.738858 -73.991813  16264.500000
                 58.0         368.000000  40.730386 -74.002150  21029.000000
                 59.0         368.000000  40.730386 -74.002150  17456.000000
                 60.0         402.000000  40.722636 -73.978321  18912.500000
                 63.0         411.000000  40.722281 -73.976687  16068.000000
                 65.0         470.000000  40.743453 -74.000040  21395.000000

                             birth_year    gender  ages
start_time       birth_year
2015-01-01 00:00 19.0            1996.0  2.000000  19.0
                 22.0            1993.0  1.000000  22.0
                 24.0            1991.0  1.000000  24.0
                 25.0            1990.0  1.000000  25.0
                 26.0            1989.0  1.285714  26.0
                 27.0            1988.0  1.166667  27.0
                 28.0            1987.0  1.000000  28.0
                 29.0            1986.0  1.500000  29.0
                 30.0            1985.0  1.166667  30.0
                 31.0            1984.0  1.000000  31.0
                 32.0            1983.0  1.000000  32.0
                 33.0            1982.0  1.500000  33.0
                 34.0            1981.0  1.333333  34.0
                 35.0            1980.0  1.000000  35.0
                 36.0            1979.0  1.142857  36.0
                 38.0            1977.0  1.000000  38.0
                 39.0            1976.0  1.333333  39.0
                 41.0            1974.0  1.000000  41.0
                 42.0            1973.0  1.000000  42.0
                 43.0            1972.0  1.000000  43.0
                 44.0            1971.0  1.000000  44.0
                 45.0            1970.0  1.000000  45.0
                 46.0            1969.0  1.500000  46.0
                 47.0            1968.0  1.000000  47.0
                 48.0            1967.0  1.000000  48.0
                 49.0            1966.0  1.000000  49.0
                 50.0            1965.0  1.000000  50.0
                 51.0            1964.0  1.000000  51.0
                 52.0            1963.0  1.000000  52.0
                 53.0            1962.0  1.000000  53.0
...                                 ...       ...   ...
2015-01-31 23:00 31.0            1984.0  1.125000  31.0
                 32.0            1983.0  1.200000  32.0
                 33.0            1982.0  1.000000  33.0
                 34.0            1981.0  1.000000  34.0
                 35.0            1980.0  1.000000  35.0
                 36.0            1979.0  1.250000  36.0
                 37.0            1978.0  1.000000  37.0
                 38.0            1977.0  1.000000  38.0
                 39.0            1976.0  1.000000  39.0
                 41.0            1974.0  1.000000  41.0
                 42.0            1973.0  1.666667  42.0
                 43.0            1972.0  1.000000  43.0
                 44.0            1971.0  1.000000  44.0
                 45.0            1970.0  1.000000  45.0
                 46.0            1969.0  1.000000  46.0
                 47.0            1968.0  1.000000  47.0
                 48.0            1967.0  1.000000  48.0
                 49.0            1966.0  1.000000  49.0
                 50.0            1965.0  1.000000  50.0
                 51.0            1964.0  1.000000  51.0
                 52.0            1963.0  1.000000  52.0
                 54.0            1961.0  1.000000  54.0
                 55.0            1960.0  1.000000  55.0
                 56.0            1959.0  1.000000  56.0
                 57.0            1958.0  1.000000  57.0
                 58.0            1957.0  1.000000  58.0
                 59.0            1956.0  1.000000  59.0
                 60.0            1955.0  1.500000  60.0
                 63.0            1952.0  1.000000  63.0
                 65.0            1950.0  1.000000  65.0

[31097 rows x 11 columns]

In [56]:
rebal_df = rebal_data(year,month)
rebal_df = rebal_df[['start_time', 'stop_time', 'start_id', 'stop_id']]

In [57]:
def transform_times(df):
    # calculate approximate pickup and drop-off times for rebalancing trips
    t_start = df.start_time
    t_end = df.stop_time
    time_diff = t_start - t_end

    r_start = t_end + time_diff/3.
    r_end = t_end + time_diff*(2/3.)
    
    df['start_time'] = r_start
    df['stop_time'] = r_end
    return df.rename(columns = {'start_id':'stop_id', 'stop_id':'start_id'})

rebal_df = transform_times(rebal_df)

In [58]:
rflux_out = create_fluxes(rebal_df, 'start_id', 'start_time', 'rflux_out')
rflux_in = create_fluxes(rebal_df, 'stop_id', 'stop_time', 'rflux_in')
rmerged = merge_fluxes(rflux_out, rflux_in)

In [ ]:
merged

In [59]:
rmerged['net_flux'] = rmerged.rflux_in - rmerged.rflux_out
rmerged

                  date      id  rflux_out  rflux_in  net_flux
0     2015-01-01 15:00    72.0        1.0       0.0      -1.0
1     2015-01-02 00:00    72.0        1.0       0.0      -1.0
2     2015-01-02 12:00    72.0        1.0       0.0      -1.0
3     2015-01-02 19:00    72.0        1.0       1.0       0.0
4     2015-01-02 20:00    72.0        1.0       0.0      -1.0
5     2015-01-05 08:00    72.0        1.0       0.0      -1.0
6     2015-01-05 11:00    72.0        1.0       0.0      -1.0
7     2015-01-06 08:00    72.0        1.0       0.0      -1.0
8     2015-01-08 16:00    72.0        1.0       0.0      -1.0
9     2015-01-09 01:00    72.0        1.0       0.0      -1.0
10    2015-01-09 03:00    72.0        1.0       0.0      -1.0
11    2015-01-10 01:00    72.0        1.0       0.0      -1.0
12    2015-01-11 01:00    72.0        1.0       0.0      -1.0
13    2015-01-12 11:00    72.0        1.0       0.0      -1.0
14    2015-01-13 02:00    72.0        1.0       0.0      -1.0
15    2015-01-13 18:00    72.0        1.0       0.0      -1.0
16    2015-01-14 03:00    72.0        1.0       0.0      -1.0
17    2015-01-14 13:00    72.0        1.0       0.0      -1.0
18    2015-01-14 16:00    72.0        1.0       0.0      -1.0
19    2015-01-15 08:00    72.0        1.0       0.0      -1.0
20    2015-01-15 09:00    72.0        1.0       0.0      -1.0
21    2015-01-15 22:00    72.0        1.0       0.0      -1.0
22    2015-01-16 10:00    72.0        1.0       0.0      -1.0
23    2015-01-17 02:00    72.0        2.0       0.0      -2.0
24    2015-01-19 08:00    72.0        1.0       0.0      -1.0
25    2015-01-19 12:00    72.0        1.0       0.0      -1.0
26    2015-01-19 13:00    72.0        1.0       0.0      -1.0
27    2015-01-19 14:00    72.0        1.0       0.0      -1.0
28    2015-01-19 20:00    72.0        1.0       0.0      -1.0
29    2015-01-20 00:00    72.0        1.0       0.0      -1.0
...                ...     ...        ...       ...       ...
46737 2015-01-14 13:00  3002.0        0.0       1.0       1.0
46738 2015-01-14 17:00  3002.0        0.0       1.0       1.0
46739 2015-01-15 03:00  3002.0        0.0       1.0       1.0
46740 2015-01-16 08:00  3002.0        0.0       1.0       1.0
46741 2015-01-16 15:00  3002.0        0.0       1.0       1.0
46742 2015-01-17 07:00  3002.0        0.0       1.0       1.0
46743 2015-01-18 18:00  3002.0        0.0       1.0       1.0
46744 2015-01-20 04:00  3002.0        0.0       1.0       1.0
46745 2015-01-21 03:00  3002.0        0.0       1.0       1.0
46746 2015-01-21 16:00  3002.0        0.0       1.0       1.0
46747 2015-01-22 16:00  3002.0        0.0       1.0       1.0
46748 2015-01-23 03:00  3002.0        0.0       1.0       1.0
46749 2015-01-23 13:00  3002.0        0.0       1.0       1.0
46750 2015-01-23 14:00  3002.0        0.0       2.0       2.0
46751 2015-01-23 16:00  3002.0        0.0       1.0       1.0
46752 2015-01-23 19:00  3002.0        0.0       1.0       1.0
46753 2015-01-24 14:00  3002.0        0.0       1.0       1.0
46754 2015-01-24 17:00  3002.0        0.0       1.0       1.0
46755 2015-01-24 22:00  3002.0        0.0       1.0       1.0
46756 2015-01-25 07:00  3002.0        0.0       3.0       3.0
46757 2015-01-25 08:00  3002.0        0.0       1.0       1.0
46758 2015-01-25 11:00  3002.0        0.0       1.0       1.0
46759 2015-01-25 12:00  3002.0        0.0       1.0       1.0
46760 2015-01-25 13:00  3002.0        0.0       1.0       1.0
46761 2015-01-25 15:00  3002.0        0.0       1.0       1.0
46762 2015-01-25 17:00  3002.0        0.0       1.0       1.0
46763 2015-01-25 19:00  3002.0        0.0       1.0       1.0
46764 2015-01-29 09:00  3002.0        0.0       1.0       1.0
46765 2015-01-30 04:00  3002.0        0.0       1.0       1.0
46766 2015-01-31 10:00  3002.0        0.0       1.0       1.0

[46767 rows x 5 columns]

In [65]:
rmerged.sort_values('net_flux', ascending = False).head(50)

                  date     id  rflux_out  rflux_in  net_flux
23282 2015-01-15 03:00  521.0        2.0      68.0      66.0
44432 2015-01-22 03:00  521.0        0.0      46.0      46.0
44377 2015-01-15 04:00  521.0        0.0      38.0      38.0
44327 2015-01-06 02:00  521.0        0.0      34.0      34.0
44423 2015-01-21 02:00  521.0        0.0      33.0      33.0
23148 2015-01-06 03:00  521.0        2.0      35.0      33.0
44431 2015-01-22 02:00  521.0        0.0      32.0      32.0
44424 2015-01-21 03:00  521.0        0.0      31.0      31.0
44376 2015-01-15 02:00  521.0        0.0      29.0      29.0
44433 2015-01-22 04:00  521.0        0.0      29.0      29.0
44439 2015-01-23 03:00  521.0        0.0      25.0      25.0
23297 2015-01-16 03:00  521.0        1.0      26.0      25.0
44425 2015-01-21 04:00  521.0        0.0      22.0      22.0
23386 2015-01-23 02:00  521.0        1.0      21.0      20.0
10594 2015-01-15 02:00  379.0        2.0      22.0      20.0
39384 2015-01-20 17:00  465.0        0.0      19.0      19.0
39408 2015-01-22 18:00  465.0        0.0      18.0      18.0
37210 2015-01-21 04:00  432.0        0.0      18.0      18.0
23267 2015-01-14 03:00  521.0        1.0      19.0      18.0
38205 2015-01-23 05:00  445.0        0.0      17.0      17.0
37215 2015-01-22 08:00  432.0        0.0      17.0      17.0
44438 2015-01-23 01:00  521.0        0.0      17.0      17.0
19114 2015-01-13 02:00  490.0        1.0      18.0      17.0
10679 2015-01-22 03:00  379.0        1.0      18.0      17.0
41382 2015-01-23 03:00  490.0        0.0      17.0      17.0
39385 2015-01-20 18:00  465.0        0.0      17.0      17.0
38204 2015-01-23 04:00  445.0        0.0      16.0      16.0
16358 2015-01-15 17:00  465.0        1.0      17.0      16.0
39634 2015-01-14 14:00  468.0        0.0      16.0      16.0
44584 2015-01-05 02:00  523.0        0.0      16.0      16.0
41365 2015-01-21 02:00  490.0        0.0      16.0      16.0
41592 2015-01-22 02:00  492.0        0.0      16.0      16.0
23254 2015-01-13 03:00  521.0        1.0      17.0      16.0
39394 2015-01-21 18:00  465.0        0.0      16.0      16.0
44335 2015-01-08 03:00  521.0        0.0      16.0      16.0
34552 2015-01-21 03:00  379.0        0.0      16.0      16.0
34509 2015-01-14 03:00  379.0        0.0      15.0      15.0
38193 2015-01-21 05:00  445.0        0.0      15.0      15.0
41597 2015-01-23 02:00  492.0        0.0      15.0      15.0
37174 2015-01-14 04:00  432.0        0.0      15.0      15.0
44409 2015-01-19 11:00  521.0        0.0      15.0      15.0
39407 2015-01-22 17:00  465.0        0.0      15.0      15.0
10482 2015-01-07 02:00  379.0        1.0      16.0      15.0
26922 2015-01-15 18:00  153.0        0.0      15.0      15.0
43848 2015-01-15 05:00  517.0        0.0      15.0      15.0
41275 2015-01-06 02:00  490.0        0.0      14.0      14.0
43859 2015-01-16 03:00  517.0        0.0      14.0      14.0
43423 2015-01-23 04:00  511.0        0.0      14.0      14.0
10664 2015-01-21 02:00  379.0        4.0      18.0      14.0
34553 2015-01-21 04:00  379.0        0.0      14.0      14.0

In [70]:
a = pd.merge(merged, rmerged, how = 'outer', on=['date','id']).fillna(0)

In [72]:
stations.head()

NameError: name 'stations' is not defined

In [71]:
a.head(20)

,date,id,flux_out,flux_in,weekday,hour,rflux_out,rflux_in,net_flux
0,2015-01-01 00:00,72.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,2015-01-01 07:00,72.0,1.0,0.0,1.0,7.0,0.0,0.0,0.0
2,2015-01-01 11:00,72.0,1.0,0.0,1.0,11.0,0.0,0.0,0.0
3,2015-01-01 12:00,72.0,2.0,1.0,1.0,12.0,0.0,0.0,0.0
4,2015-01-01 15:00,72.0,1.0,0.0,1.0,15.0,1.0,0.0,-1.0
5,2015-01-01 17:00,72.0,2.0,2.0,1.0,17.0,0.0,0.0,0.0
6,2015-01-01 21:00,72.0,1.0,0.0,1.0,21.0,0.0,0.0,0.0
7,2015-01-01 22:00,72.0,1.0,2.0,1.0,22.0,0.0,0.0,0.0
8,2015-01-02 02:00,72.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0
9,2015-01-02 05:00,72.0,1.0,1.0,1.0,5.0,0.0,1.0,1.0
10,2015-01-02 07:00,72.0,1.0,1.0,1.0,7.0,0.0,0.0,0.0
11,2015-01-02 08:00,72.0,6.0,2.0,1.0,8.0,0.0,0.0,0.0
12,2015-01-02 10:00,72.0,1.0,0.0,1.0,10.0,0.0,1.0,1.0
13,2015-01-02 12:00,72.0,3.0,1.0,1.0,12.0,1.0,0.0,-1.0
14,2015-01-02 15:00,72.0,2.0,2.0,1.0,15.0,0.0,0.0,0.0
15,2015-01-02 16:00,72.0,1.0,1.0,1.0,16.0,0.0,0.0,0.0
16,2015-01-02 17:00,72.0,6.0,3.0,1.0,17.0,0.0,2.0,2.0
17,2015-01-02 19:00,72.0,3.0,2.0,1.0,19.0,1.0,1.0,0.0
18,2015-01-02 20:00,72.0,1.0,2.0,1.0,20.0,1.0,0.0,-1.0
19,2015-01-02 21:00,72.0,1.0,0.0,1.0,21.0,0.0,0.0,0.0

In [76]:
a.drop(['rflux_out', 'rflux_in'], axis=1)

                   date      id  flux_out  flux_in  weekday  hour  net_flux
0      2015-01-01 00:00    72.0       1.0      0.0      1.0   0.0       0.0
1      2015-01-01 07:00    72.0       1.0      0.0      1.0   7.0       0.0
2      2015-01-01 11:00    72.0       1.0      0.0      1.0  11.0       0.0
3      2015-01-01 12:00    72.0       2.0      1.0      1.0  12.0       0.0
4      2015-01-01 15:00    72.0       1.0      0.0      1.0  15.0      -1.0
5      2015-01-01 17:00    72.0       2.0      2.0      1.0  17.0       0.0
6      2015-01-01 21:00    72.0       1.0      0.0      1.0  21.0       0.0
7      2015-01-01 22:00    72.0       1.0      2.0      1.0  22.0       0.0
8      2015-01-02 02:00    72.0       1.0      0.0      1.0   2.0       0.0
9      2015-01-02 05:00    72.0       1.0      1.0      1.0   5.0       1.0
10     2015-01-02 07:00    72.0       1.0      1.0      1.0   7.0       0.0
11     2015-01-02 08:00    72.0       6.0      2.0      1.0   8.0       0.0
12     2015-01-02 10:00    72.0       1.0      0.0      1.0  10.0       1.0
13     2015-01-02 12:00    72.0       3.0      1.0      1.0  12.0      -1.0
14     2015-01-02 15:00    72.0       2.0      2.0      1.0  15.0       0.0
15     2015-01-02 16:00    72.0       1.0      1.0      1.0  16.0       0.0
16     2015-01-02 17:00    72.0       6.0      3.0      1.0  17.0       2.0
17     2015-01-02 19:00    72.0       3.0      2.0      1.0  19.0       0.0
18     2015-01-02 20:00    72.0       1.0      2.0      1.0  20.0      -1.0
19     2015-01-02 21:00    72.0       1.0      0.0      1.0  21.0       0.0
20     2015-01-03 01:00    72.0       1.0      1.0      1.0   1.0       1.0
21     2015-01-03 06:00    72.0       1.0      0.0      1.0   6.0       0.0
22     2015-01-03 09:00    72.0       3.0      0.0      1.0   9.0       0.0
23     2015-01-03 10:00    72.0       2.0      2.0      1.0  10.0       0.0
24     2015-01-03 12:00    72.0       3.0      2.0      1.0  12.0       0.0
25     2015-01-03 15:00    72.0       1.0      0.0      1.0  15.0       0.0
26     2015-01-03 18:00    72.0       1.0      2.0      1.0  18.0       0.0
27     2015-01-03 21:00    72.0       1.0      0.0      1.0  21.0       2.0
28     2015-01-04 09:00    72.0       1.0      0.0      1.0   9.0       1.0
29     2015-01-04 10:00    72.0       1.0      0.0      1.0  10.0       1.0
...                 ...     ...       ...      ...      ...   ...       ...
149851 2015-01-24 03:00  2022.0       0.0      0.0      0.0   0.0       1.0
149852 2015-01-26 20:00  2022.0       0.0      0.0      0.0   0.0       1.0
149853 2015-01-27 16:00  2022.0       0.0      0.0      0.0   0.0       1.0
149854 2015-01-27 22:00  2022.0       0.0      0.0      0.0   0.0       1.0
149855 2015-01-29 14:00  2022.0       0.0      0.0      0.0   0.0       1.0
149856 2015-01-12 03:00  2023.0       0.0      0.0      0.0   0.0       1.0
149857 2015-01-14 03:00  2023.0       0.0      0.0      0.0   0.0       1.0
149858 2015-01-14 04:00  2023.0       0.0      0.0      0.0   0.0       1.0
149859 2015-01-18 12:00  2023.0       0.0      0.0      0.0   0.0       1.0
149860 2015-01-30 02:00  2023.0       0.0      0.0      0.0   0.0       1.0
149861 2015-01-31 05:00  2023.0       0.0      0.0      0.0   0.0       1.0
149862 2015-01-02 05:00  3002.0       0.0      0.0      0.0   0.0       1.0
149863 2015-01-07 02:00  3002.0       0.0      0.0      0.0   0.0       1.0
149864 2015-01-07 04:00  3002.0       0.0      0.0      0.0   0.0       1.0
149865 2015-01-10 04:00  3002.0       0.0      0.0      0.0   0.0       1.0
149866 2015-01-10 20:00  3002.0       0.0      0.0      0.0   0.0       1.0
149867 2015-01-10 22:00  3002.0       0.0      0.0      0.0   0.0       1.0
149868 2015-01-11 08:00  3002.0       0.0      0.0      0.0   0.0       1.0
149869 2015-01-13 04:00  3002.0       0.0      0.0      0.0   0.0       1.0
149870 2015-01-14 01:00  3002.0       0.0      0.0      0.0   0.0       1.0
149871 2015-01-14 04:00  3002.0       0.0      0.0      0.0   0.0       1.0
149872 2015-01-15 03:00  3002.0       0.0      0.0      0.0   0.0       1.0
149873 2015-01-17 07:00  3002.0       0.0      0.0      0.0   0.0       1.0
149874 2015-01-20 04:00  3002.0       0.0      0.0      0.0   0.0       1.0
149875 2015-01-21 03:00  3002.0       0.0      0.0      0.0   0.0       1.0
149876 2015-01-23 03:00  3002.0       0.0      0.0      0.0   0.0       1.0
149877 2015-01-24 17:00  3002.0       0.0      0.0      0.0   0.0       1.0
149878 2015-01-25 07:00  3002.0       0.0      0.0      0.0   0.0       3.0
149879 2015-01-25 08:00  3002.0       0.0      0.0      0.0   0.0       1.0
149880 2015-01-30 04:00  3002.0       0.0      0.0      0.0   0.0       1.0

[149881 rows x 7 columns]

In [80]:
a.head()

              date    id  flux_out  flux_in  weekday  hour  net_flux
0 2015-01-01 00:00  72.0       1.0      0.0      1.0   0.0       0.0
1 2015-01-01 07:00  72.0       1.0      0.0      1.0   7.0       0.0
2 2015-01-01 11:00  72.0       1.0      0.0      1.0  11.0       0.0
3 2015-01-01 12:00  72.0       2.0      1.0      1.0  12.0       0.0
4 2015-01-01 15:00  72.0       1.0      0.0      1.0  15.0      -1.0

In [83]:
stations = pd.read_csv('stations.csv')
stations.head()

aa = pd.merge(a, stations[['id', 'docks']], on = 'id')

Empty DataFrame
Columns: [date, id, flux_out, flux_in, weekday, hour, net_flux, docks]
Index: []

In [ ]:
rflux_out = rebal_df[['stop_id', 'stop_time']].groupby([rebal_df.stop_time.dt.to_period('H'),'stop_id']).count()
rflux_in = rebal_df[['start_id', 'start_time']].groupby([rebal_df.start_time.dt.to_period('H'),'start_id']).count()

In [ ]:
rflux_out.head()

In [ ]:
t = rflux_out.fillna(0).stop_time.unstack(level=0).stack()
t = t.reset_index().set_index('stop_time')
t.rename(columns = {0:'rflux_out'}, inplace = True)
t.head()

In [ ]:
sample = flux_out.start_time.head(25).unstack(level=0).stack()
new_sample = sample.reset_index().set_index('start_time')
new_sample.columns

In [ ]:
# flux out is FROM start stations
flux_out = oneday.groupby('start_id').count().duration
flux_out.head(10)

In [ ]:
#flux in is TO stop stations
flux_in = oneday.groupby('stop_id').count().duration
flux_in.head(10)

In [ ]:
net_flux = flux_in - flux_out
net_flux.head()

In [ ]:
flux_out = df[['start_id', 'start_time']].groupby([df.start_time.dt.to_period('H'),'start_id']).count()
flux_in = df[['stop_id', 'stop_time']].groupby([df.stop_time.dt.to_period('H'),'stop_id']).count()

In [ ]:
flux_out.head()

In [ ]:
flux_out.unstack().fillna(0).start_time

In [ ]:
net_flux = flux_in.unstack().stop_time.fillna(0) - flux_out.unstack().start_time.fillna(0)

net_flux.shape

In [ ]:
from concat_data import create_fluxes

KeyboardInterrupt:

In [ ]:
rebal_df[['start_id', 'start_time']].groupby([rebal_df.start_time.dt.to_period('2H'),'start_id']).count().unstack()

In [ ]:
rebal_df.start_id.astype(int).unique().shape

In [ ]:
rebal_df.stop_id.astype(int).unique().shape

In [ ]:
"""
#visualize rebalancing (with Bokeh)
import bokeh.plotting as bkp
import bokeh.models as bkm
import bokeh.charts as bkc
from bokeh.layouts import gridplot

N = 20  # number of top choices
station_lists = [0, 0]
station_lists[0] = xfers_in.groupby('start_id').apply(
                        lambda x: x.trip_id.count()).sort_values(ascending = False)[:N]
station_lists[1] = xfers_out.groupby('stop_id').apply(
                        lambda x: x.trip_id.count()).sort_values(ascending = False)[:N]

# output to notebook
bkp.output_notebook()

ps = [0, 0]  # initilized the list
source = [0, 0]  # initilized the list
colors = ['navy', 'red']  # ['In', 'Out']
labels = ['Out - In','In - Out']

for i, item in enumerate(['Transferred IN', 'Transferred OUT']):
    source[i] = bkp.ColumnDataSource(
    data = dict(station = list(map(str, station_lists[i].index)),
                count = station_lists[i].values,
                name = [stations.loc[x, 'name'] for x in station_lists[i].index],
                diff = [(-1)**(i+1)*station_count.loc[str(x), 'diff'] for x in station_lists[i].index]))
                        
    ps[i] = bkp.figure(plot_height = 300, plot_width = 350, toolbar_location = 'above',
                 tools = 'pan,box_zoom,reset,resize,save', 
                 x_range = list(map(str, station_lists[i].index)),
                 x_axis_label='Station id', y_axis_label = 'Counts', title = item)
    show = ps[i].vbar('station', top = 'count', width = 0.8, alpha = 0.5, line_alpha = 0.0,
               source = source[i], color = colors[i])
    ps[i].vbar('station', top = 'diff', width = 0.8, alpha = 1, line_alpha = 0.0,
               source = source[i], color = 'black')
    ps[i].xaxis.major_label_orientation = np.pi/4
    hover = bkm.HoverTool(tooltips=[('Station','@name'), 
                                    (item, '@count'),
                                    (labels[i],'@diff')], renderers=[show] )
    ps[i].add_tools(hover)
grid = gridplot([ps])

bkp.output_file('most_xferred_stations_'+str(year)+'.html')
bkp.show(grid) 
bkp.save(grid)
"""

In [ ]:
"""# find bikes by bike id
bike_ids = df.id.unique()
bike_trajectory = df[df.id == bike_ids[0]][['id', 'start_id', 'stop_id', 
                                            'start_time', 'stop_time',
                                           'start_long', 'start_lat',
                                           'stop_long', 'stop_lat']]

# find and link up bike trajectories to find rebalancing events
rebal_events = pd.DataFrame(columns = bike_trajectory.columns)
rebal_list = []

def find_rebal_events(traj, pre_or_post = 'pre'):
# find rebalancing events
    mask = (df.start_id.values[1:] != df.stop_id.values[:-1])
    if pre_or_post == 'pre':
        mask = np.hstack((False, mask))
    elif pre_or_post == 'post':
        masp = np.hstack((mask, False))

'''
    for bike_id in bike_ids[:10]:
        one_traj = df[df.id == bike_id][bike_trajectory.columns]
        #trajectories = pd.concat([trajectories, one_traj], ignore_index = True)

        # track rebalancing events by shifting down stop times (and locations)
        shift_cols = ['stop_id','stop_time', 'stop_long','stop_lat']
        one_traj[shift_cols] = one_traj[shift_cols].shift(1)
        
 

        # filter where start and stop station ids are unequal
        rebal = one_traj[one_traj.start_id != one_traj.stop_id]
        rebal = 
        rebal_list.append(rebal)
'''

find_rebal_events(df)
"""